include link-aside_link-mixin

.links-aside
  h2.links-aside__title Links
  .links-aside__wrapper
    h3.links-aside__category Category:
    +aside-link('Twitter',"images/links_twitter.svg")
    +aside-link('Facebook',"images/links_facebook.svg")
    +aside-link('Instagram',"images/links_inst.svg")
  .links-aside__wrapper
    h3.links-aside__category Category:
    +aside-link('Discord',"images/links_discord.svg")
    +aside-link('Github',"images/links_git.svg")
    +aside-link('Reddit',"images/links_reddit.svg")
    +aside-link('Youtube',"images/links_youtube.svg")
  .links-aside__wrapper
    h3.links-aside__category Category:
    +aside-link('Discord',"images/links_discord.svg")
    +aside-link('Github',"images/links_git.svg")
    +aside-link('Reddit',"images/links_reddit.svg")
