-var item1 = {discount: "70 %", value: "≈27.3 COMB/day", pathToLogo:"images/pools_comb.svg", title: "COMB Stake!",info: "Deposit COMB-ETH UNI-V2 LP   Earn COMB", apy: {name: "APY", value: "299.931%"}, total: [{name: "DEF", value: "1,635.57"},{name:"ETH", value: "312.85"}]}

-var item2 = {discount: "70 %", value: "≈4.68 COMB/day", pathToLogo:"images/pools_def.svg", title: "DEF Stake!",info: "Deposit DEF-COMB UNI-V2 LP   Earn COMB", apy: {name: "APY", value: "2,187.606%"}, total: [{name: "DEF", value: "1,635.57"},{name:"ETH", value: "312.85"}]}

-var item3 = {discount: "70 %", value: "≈27.3 COMB/day", pathToLogo:"images/pools_comp.svg", title: "COMP Stake!",info: "Deposit COMP-ETH UNI-V2 LP   Earn COMB", apy: {name: "APY", value: "299.931%"}, total: [{name: "COMB", value: "1635.57"},{name:"ETH", value: "312.85"}]}
- var pools = [item1, item2, item3, item1,item2, item3]
- var pools = [item1, item2, item3]
