.claim-section {
}

.claim {
  display: flex;
  padding: 3.2rem 0 5rem;
  justify-content: space-between;

  @media (min-width: 1280px) {
  }

  &__wrapper {
    flex: 1 1 auto;
    max-width: 109.2rem;
  }

  &__tokens {
    // width: 100%;
    @media (min-width: 768px) {
      // margin-bottom: 3.2rem;//todo
    }
    @media (min-width: 1280px) {
      margin-bottom: 6.4rem;
    }
  }

  &__title {
    font-weight: 700;
    color: $text-color-main;
    line-height: 1.21;

    @media (min-width: 1280px) {
      font-size: 3.2rem;
      margin-bottom: 1.2rem;
    }
  }

  &__subtitle {
    letter-spacing: 0.05em;
    color: #778390;
    line-height: 1.25;

    @media (min-width: 1280px) {
      font-size: 1.6rem;
    }
  }

  &__row {
    display: flex;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__row-item {
    max-width: 35.1rem;
    @media (min-width: 768px) {
      flex: 1 1 33.33334%;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__subtitle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1280px) {
      margin-bottom: 2.4rem; //todo
    }
  }

  &__links {
    display: none;
    border-left: 0.2rem solid #2e3747;

    @media (min-width: 1280px) {
      display: block;
      margin-left: 3.2rem;
      min-width: 25.2rem;
    }
  }
}

// 1090
//252
