header.header
	.container
		.header__inner
			a(href="#").header__logo
				img(src='images/header_logo.svg' alt='site logo')
			nav.header__nav
				ul.header__list
					li.header__item.active
						a(href="3").header__link Home
					li.header__item
						a(href="3").header__link Farm
					li.header__item
						a(href="3").header__link FAQ's
			span.header__wallet-status 0.000 COMB
			span.header__menu-toggle